// main{
//   height: 100%;
// }

mat-divider {
  padding-bottom: 1rem;
}

.container {
  padding: 0 1rem;
}

.font-regular {
  font-weight: 400;
}

.spacer {
  display: inline-block;
  width: 1rem;
}

.btn-sp {
  color: white !important;
  background-color: green !important;
}

.custom-outline {
  padding: 0.2rem 0;
  border: 2px, solid, green;
  border-radius: 2rem;
  min-width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-sp2 {
  height: 3rem;
  color: green !important;
}

.custom-outline2 {
  min-width: 22rem;
  width: fit-content;
  padding: 0.2rem 0;
  border: 1px, solid, green;
  border-radius: 0.5rem;
}

mat-card {
  border-color: #1b581b50 !important;
  background-color: #fafffa !important;
}

.small-text {
  font-size: smaller;
  margin: 3rem;
}

.drag-n-drop-box {
  justify-self: center;
  border: 3px, dotted, #00800050;
  border-radius: 0.4rem;
  margin: 0.5rem;
}

.container-fit {
  width: fit-content;
}

.img-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 18rem;
  border: 3px, dotted, #00800050;
  border-radius: 0.4rem;
  margin: 0.5rem;
  color: green;
}

.icon-img {
  transform: scale(3);
}

.btn-sp-final {
  height: 3rem;
  width: 8rem;
  float: right;
}
